<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Brak uprawnień</h2>
        <p>Kliknij w przycisk poniżej, aby powrócić na stronę główną.</p>
        <hr />
        <p>
            <a asp-controller="Products" asp-action="Index" class="btn btn-outline-success" >Strona główna</a>
        </p>
    </div>
</div>