<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Twoje konto zostało utworzone pomyślnie!</h2>
        <p>Już teraz możesz zalogować się do konta przy pomocy swoich danych.</p>
        <hr />
        <p>Dziękujemy!</p>
    </div>
</div>