<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Twoje zamówienie zostało złożone pomyślnie!</h2>
        <p>Możesz śledzić swoje zamówienie na liście zamówień.</p>
        <hr />
        <p>Dziękujemy!</p>
    </div>
</div>